header {
	margin: auto;
	text-align: center;
	font-size: 20px;
	background-image: linear-gradient(to right, blue 0%, red 30%);
	width: 30%;
	margin-bottom: 2vh; 
	border-radius: 10px;
	color: white;
}

#actions1, #actions2 {
	background-color: #DDDDDD;
	border: solid 1px black;
	border-radius: 10px;
	padding: auto;
}

#damier {
	margin: auto;
	border-collapse: collapse;
}

td {
	width: 8vmin;
	height: 8vmin	;
	margin: 0;
	padding: 0;
	border: solid 1px black;
	background-color: #ccccff;
}

