.container {
	background-color: red;
}

header {
	margin: auto;
	text-align: center;
	font-size: 20px;
	background-image: linear-gradient(to right, blue 0%, red 30%);
	width: 30%;
	margin-bottom: 50px; 
	border-radius: 10px;
	color: white;
}

.col-md-10 {
	width: 30%;
}

#damier {
	border-collapse: collapse;
	border: solid 1px black;
}

td {
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}

.white {
	background-color: white
}

.black {
	background-color: black
}